/* -------- INDHOLDS FORTEGNELSE -----------

1. GENERELLE INDSTILLINGER
2. FORSIDE
3. OPBYGNING AF PORTFOLIO SIDE
4. CV SIDEN
5. TEKST & FONTE
6.




*/


/* -------- 1. GENERELLE INDSTILLINGER -------*/


* {
    box-sizing: border-box;
}

body {
    background-color: #f7f3f0;
    height: 100%;
    margin: 0;
}

footer {
    font-family: 'Faster One';
    color: #ffc2cc;
}

/*burgermenu*/

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    color: #ffc2cc;
    cursor: pointer;

}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

nav a {
    font-family: 'Pragati Narrow';
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

a:hover {
    color: #ffc2cc;

}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {}
}



/* ----------- 2. FORSIDE --------------*/


#overskrift h1 {
    font-family: 'Pragati Narrow';
    color: black;
    font-size: 14rem;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}

.row1 {
    position: relative;
    line-height: 5px;
    left: 600px;
}

.row2 {
    position: relative;
    line-height: 290px;
    left: 780px;
}

.row3 {
    position: relative;
    line-height: 0px;
    left: 670px;
}

.row4 {
    position: relative;
    line-height: 180px;
    left: 800px;
}


.row5 {
    position: relative;
    line-height: 120px;
    left: 530px;
}


/* ----------- 3. PORTFOLIO --------------*/


.sectionwrapper_opgaver {
    background-color: #f7f3f0;
}

.collapsible {
    background-color: #f7f3f0;
    padding: 15px 15px 0px 15px;
    margin: 15px 15px 0px 15px;
    width: 900px;
    height: 320px;
    border-top: 2px solid black;
    position: relative;
    left: 400px;
}

.collapsible img {
    cursor: pointer;
}

figure {
    position: absolute;
    top: 2px;
    left: 400px;
}

figure img {
    width: 240px;
    height: 280px;
}

.content {
    display: none;
}

.fold_ud {
    background-color: #f7f3f0;
    width: 900px;
    height: 300px;
    padding: 0px 15px 0px 15px;
    margin: 0px 15px 0px 15px;
    position: relative;
    left: 400px;
}



/* ----------- 4. CV --------------*/


.sectionwrapper_cv {
    background-color: #f7f3f0;
    height: 3000px;
    width: 100%;
}

/*.sectionwrapper_cv content {
    width: 100%;

}*/

.box {
    position: relative;
    left: 400px;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.box h1 {
    font-size: 10rem;
    font-family: 'Pragati Narrow';
}


.fold_out_erfaring {
    background-color: #f7f3f0;
    width: 900px;
    height: 1200px;
    padding: 0px 15px 0px 15px;
    margin: 0px 15px 0px 15px;
    position: relative;
    left: 380px;
}

.fold_out {
    background-color: #f7f3f0;
    width: 1000px;
    height: 800px;
    padding: 0px 15px 0px 15px;
    margin: 0px 15px 0px 15px;
    position: relative;
    left: 350px;
}

.fold_out_uddannelse {
    background-color: #f7f3f0;
    width: 1000px;
    height: 120px;
    padding: 0px 15px 0px 15px;
    margin: 0px 15px 0px 15px;
    position: relative;
    left: 380px;
}


.container {
    background-color: #f7f3f0;
    width: 900px;
    height: 200px;
    border-top: 2px solid black;
    padding: 0px 15px 0px 15px;
    margin: 0px 15px 0px 15px;
    position: relative;

}


.collapsible h2 {
    margin: 80px 0px 80px 0px;
    font-size: 5rem;
}

.container h3 {
    font-size: 2rem;
    margin: 0px;
}

.container h4 {
    margin: 5px 0px 0px 0px;
    font-size: 1.5rem;
}

.container h5 {
    font-family: 'Pragati Narrow';
    font-size: 2rem;
    margin: 5px 0px 0px 0px;
}

p {
    font-family: 'Pragati Narrow';
    font-size: 1.1rem;
    margin: 7px 0px 0px 5px;

}

ul {
    padding: 10px;
}

.content_kurser {
    display: none;
    height: 800px;
}

.kontakt {
    position: relative;
    left: 500px;
    height: 400px;

}

.kontakt h1 {
    font-size: 12rem;
    font-family: 'Pragati Narrow';
    margin: 0;
}

.kontakt h2 {
    position: relative;
    left: 200px;
    font-size: 3rem;
}

/* ----------- 5. TEKST & FONTE --------------*/


h1 {
    font-family: 'Faster One';
    font-size: 5rem;
}


h2 {
    font-size: 4.3rem;
    font-family: 'Pragati Narrow';
    line-height: 0;


}

h3 {
    font-size: 3.5rem;
    font-family: 'Pragati Narrow';
    line-height: 0;
    font-weight: 100;

}

h4 {
    font-size: 1.2rem;
    font-family: 'VT323';
    position: relative;
    left: 800px;

}
