/* -------- INDHOLDS FORTEGNELSE -----------

1. GENERELLE INDSTILLINGER
2. OPBYGNING AF PORTFOLIE SIDE
3. TEKST & FONTE
4.




*/




body {
    background-color: #ffc2cc;
    height: 100%;
}

.sectionwrapper_opgaver {
    background-color: #f7f3f0;
}

.collapsible {
    background-color: #f7f3f0;
    padding: 15px 15px 0px 15px;
    margin: 15px 15px 0px 15px;
    width: 900px;
    height: 320px;
    border-top: 2px solid black;
    position: relative;
    left: 400px;
}

.collapsible img {
    cursor: pointer;
}

figure {
    position: absolute;
    top: 2px;
    left: 400px;
}

figure img {
    width: 240px;
    height: 280px;
}

.content {
    display: none;
}

.fold_ud {
    background-color: #f7f3f0;
    width: 900px;
    height: 300px;
    padding: 0px 15px 0px 15px;
    margin: 0px 15px 0px 15px;
    position: relative;
    left: 400px;
}

h1 {
    font-family: 'Faster One';
    font-size: 5rem;
}


h2 {
    font-size: 4.3rem;
    font-family: 'Pragati Narrow';
    line-height: 0;


}

h3 {
    font-size: 3.5rem;
    font-family: 'Pragati Narrow';
    line-height: 0;
    font-weight: 100;

}

h4 {
    font-size: 1.2rem;
    font-family: 'VT323';
    position: relative;
    left: 800px;

}

footer {
    font-family: 'Faster One';
}
