/* -------- INDHOLDS FORTEGNELSE -----------

1. GENERELLE INDSTILLINGER
2. NAVIGATION & BURGER/MENU
3. TEKST & FONTE
4. SELVE CV SIDEN
5. MEDIAQUERY

---------------------------------------*/


/* ------ 1. GENERELLE INDSTILLINGER -------*/


* {
    box-sizing: border-box;
}

body {
    background-color: #f7f3f0;
    width: 1400px;
    margin: 0;
}

footer {
    font-family: 'Faster One';
    color: #ffc2cc;
}

/* ----- 2. NAVIGATION & BURGER/MENU -----------*/

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    color: #ffc2cc;
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 15px;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

nav a {
    font-family: 'Pragati Narrow';
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

a:hover {
    color: #ffc2cc;
}



/* -------- 3. TEKST OG FONTE-------*/

h1 {
    font-family: 'Pragati Narrow';
    font-size: 14rem;
    margin: 0px;
    position: relative;
    left: 400px;
    line-height: 200px;

}

h2 {
    font-family: 'Pragati Narrow';
    font-size: 3rem;
    line-height: 0;
}

h3 {
    font-family: 'Pragati Narrow';
    font-size: 1.7rem;
    margin: 0px;
    line-height: 0;
    font-weight: 700;
}

h4 {
    font-size: 1.2rem;
    font-family: 'VT323';
    margin: 10px;
    left: 200px;
}

h5 {
    font-family: 'Pragati Narrow';
    font-size: 2rem;
    margin: 5px 0px 0px 0px;
    font-weight: 100;
    color: #ffc2cc;

}

p {
    font-family: 'Pragati Narrow';
    font-size: 1.1rem;
    margin: 7px 0px 0px 5px;

}

/* -------- 4. SELVE CV SIDEN-------*/

#cv {
    background-color: #f7f3f0;
    width: 100%;

}

#cv h1 {
    left: 10px;
}

.collapsible {
    border-top: 2px solid black;
    position: relative;
    left: 10px;
    width: 550px;
    padding: 2px 0px 10px 0px;
    margin: 0px;
}

.collapsible img {
    cursor: pointer;
}


.content {
    display: none;
}

.container_uddannelse {
    position: relative;
    height: 100px;
    width: 600px;
    border-top: 2px solid black;
    margin: 10px 10px 10px 15px;

}

.container {
    position: relative;
    height: 200px;
    width: 900px;
    border-top: 2px solid black;
    margin: 10px 10px 10px 15px;

}

#kontakt {
    width: 100%;
    height: 800px;

}

figure {
    position: absolute;
    left: 80px;
    top: 930px;
}

figure img {
    width: 260px;
    height: 320px;

}

#kontakt h1 {
    position: relative;
    left: 10px;
    font-size: 8rem;
}

#kontakt h2 {
    position: relative;
    left: 10px;
    padding: 5px;
    top: 300px;
    font-size: 2.5rem;
}

#kontakt h3 {
    position: relative;
    left: 10px;
    top: 300px;
    padding: 5px;
}


/* ------------ 5. MEDIAQUERY ------------*/
