/* -------- INDHOLDS FORTEGNELSE -----------

1. GENERELLE INDSTILLINGER
2. NAVIGATION & BURGER/MENU
3. FORSIDE
4. MEDIAQUERY

--------------------------------------------*/


/* ------ 1. GENRELLE INDSTILLINGER --------- */

* {
    box-sizing: border-box;
}

body {
    background-color: #f7f3f0;
    max-width: 500px;
    max-height: 1000px;
    margin: 0;
}


/* ----  2. NAVIGATION & BURGER/MENU -------*/

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    color: #ffc2cc;
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 15px;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

nav a {
    font-family: 'Pragati Narrow';
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

a:hover {
    color: #ffc2cc;
}


/* ----  3. FORSIDE -------*/

#section {
    max-width: 500px;
    max-height: 1000px;
}

h1 {
    font-family: 'Pragati Narrow';
    color: black;
    font-size: 14rem;
}

h6 {
    font-family: 'Pragati Narrow';
    font-size: 1.3rem;
    line-height: 0;
    color: #ffc2cc;
}

.row1 {
    position: relative;
    line-height: 1px;
}

.row2 {
    position: relative;
    top: -220px;
    left: 105px;
    height: 380px;
}

.row3 {
    position: relative;
    left: 100px;
    top: -630px;
}

.row4 {
    position: relative;
    top: -1040px;
}

.row5 {
    position: relative;
    top: -1450px;
}

.row6 {
    position: relative;
    top: -1700px;
    left: 10px;
}

/* ----  4. MEDIAQUERY -------*/

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    body {
        width: auto;
        max-height: 1000px;
    }

    #section {
        max-height: 1000px;
    }


    h1 {
        margin-top: 30px;
    }

    .row1 {
        position: relative;
        left: 535px;
    }

    .row2 {
        position: relative;
        line-height: 380px;
        left: 700px;
    }

    .row3 {
        position: relative;
        line-height: 580px;
        left: 600px;
    }

    .row4 {
        position: relative;
        line-height: 70px;
        left: 730px;
    }

    .row5 {
        position: relative;
        line-height: 690px;
        left: 460px;
    }

    .row6 {
        position: relative;
        left: 980px;
        margin: 0px;
        top: -1917px;
    }
}
